
.box{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.forms{
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;
    height: 250px;
    width: 400px;
    cursor: pointer;
    border-radius: 2px;
    border: 0.2px solid #fffdf7;
}

.forms:hover{
    border: 1px solid #aadab9;
}

